<header>
  <div id="centerDiv" style=" overflow: hidden; position: fixed; top: 0; width: 100%;">
    <div id="profile-name">
      <span> Daniel Dorsch </span>
    </div>
    <ul class="centerUL">
      <li><a href="#">TERMINE</a>&nbsp;&nbsp;</li>
      <li><a href="#">NEWS</a>&nbsp;&nbsp;</li>
      <li><a href="#">PROJECTS</a>&nbsp;&nbsp;</li>
      <li><a href="#">SHOP</a>&nbsp;&nbsp;</li>
      <li><a href="#">BLOG</a>&nbsp;&nbsp;</li>
      <li><a href="#">ABOUT</a>&nbsp;&nbsp;</li>
    </ul>
  </div>
</header>
<body>
  <div id="profile-img">
    <img src="../../assets/images/profile-img.jpg" style="width:100%;" />
  </div>
  <h1> Test </h1>
</body>


